<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <div class="d-flex justify-content-center" style="width: 100%;">
             <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Главная</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Новости</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Контакты</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    оружие
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/">все</a></li>
                    {% for item in allWeapon %}
                        <li><a class="dropdown-item" href="/{{item.title}}">{{item.title}}</a></li>
                    {% endfor %}
                </ul>
                </li>
            </ul>
       </div>
    </nav>

</header>